body {
    background-color: #f3dfc8;
    font-family: "Comfortaa", serif;
    color: #5e2500;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    min-width: 250px;

}

.all_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

header {
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
}

.header_scroll {
    background: #5e2600ab;
    color: white;
}

main {
    flex: 1 0 auto;
}

footer {
    width: 100%;
    /* height: 100px; */
    background: #5e2600ab;
    color: white;
}

button {
    cursor: pointer;
}

p {
    font-size: 16px;
}

h1 {
    font-size: 30px;
}

h3 {
    margin: 0px;
    font-size: 20px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 20px;
    margin: 5px 0px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #f2bf93;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .25) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .25) 50%,
            rgba(255, 255, 255, .25) 75%,
            transparent 75%,
            transparent);
}

/* block header */
.header {
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header__burger-btn {
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    background: transparent;
    z-index: 2;
}

.header__burger-btn span {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: black;
    left: 5px;
    transition: transform .5s, opasity .5s, background-color .5s;
}
.header.open .header__burger-btn span {
    background-color: #5e2500;
}
.header__burger-btn span:nth-child(1) {
    transform: translateY(-10px);
}

.header__burger-btn span:nth-child(3) {
    transform: translateY(10px);
}

.header.open .header__burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
    opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}



.nav_header li {
    display: inline-block;
    padding: 0px 5px;
    font-weight: bolder;
    text-transform: uppercase;
}

.nav_header .menu {
    padding: 0px;
    width: 460px;
    text-align: center;
}

.menu a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    color: #5e2500;
}

.menu a:hover {
    background-size: 100% 2px;
}

.heder_row {
    display: flex;
    justify-content: center;
}

/* block content */
.content {
    max-width: 1300px;
    margin: auto;
}

.page1 {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.cicle {
    border: 1px solid #5e2500;
    opacity: 0.5;
    width: 500px;
    height: 500px;
    position: absolute;
    border-radius: 50%;
    left: -50px;
    top: -220px;
}

.cicle1 {
    border: 1px solid #5e2500;
    opacity: 0.5;
    width: 350px;
    height: 350px;
    position: absolute;
    border-radius: 50%;
    left: 370px;
    top: 30px;
}

.cicle2 {
    border: 1px solid #5e2500;
    opacity: 0.5;
    width: 250px;
    height: 250px;
    position: absolute;
    border-radius: 50%;
    left: 590px;
    top: 340px;
}

.cicle3 {
    border: 1px solid #5e2500;
    opacity: 0.5;
    width: 700px;
    height: 700px;
    position: absolute;
    border-radius: 50%;
    left: 1000px;
    top: -190px;
}

.page1 .image_rigth {
    position: absolute;
    right: -110px;
    top: 50px;
    z-index: -1;
}

.text1 {
    position: absolute;
    right: 0px;
    max-width: 500px;
    text-align: right;
    top: 200px;
    right: 0px;
    /* padding: 200px 50px 0px 0px; */
}

.typed1 {
    display: inline-block;
}

.typed2 {
    display: inline-block;
}

.typed3 {
    display: inline-block;
}

.typed4 {
    display: inline-block;
}

.typed5 {
    display: inline-block;
}

.typed6 {
    display: inline-block;
}

.text1 .typed_out1 {
    margin: 0px;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation:
        typing 1s steps(25, end) forwards;
}

.text1 .typed_out2 {
    margin: 0px;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation:
        typing 1s steps(25, end) forwards;
    animation-delay: 1s;
}

.text1 .typed_out3 {
    margin: 0px;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation:
        typing 1s steps(25, end) forwards;
    animation-delay: 2s;
}

.text1 .typed_out4 {
    margin: 0px;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation:
        typing 1s steps(25, end) forwards;
    animation-delay: 3s;
}

.text1 .typed_out5 {
    margin: 0px;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation:
        typing 1s steps(25, end) forwards;
    animation-delay: 4s;
}

.text1 .typed_out6 {
    margin: 0px;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation:
        typing 1s steps(25, end) forwards;
    animation-delay: 5s;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink {
    from {
        border-color: transparent
    }

    to {
        border-color: orange;
    }
}

.img1 {
    display: flex;
    justify-content: center;
    padding: 50px;
    width: 700px;
    height: 500px;
}

.img1 img {
    width: 100%;
}

.btn_orange {
    width: 220px;
    height: 45px;
    border: 0 solid #e17f3a;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: #e17f3a;
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    background: #e17f3a;
    color: white;
    font-weight: lighter;
    font-size: medium;
    text-align: center;
}

.btn_orange:hover {
    border: 1px solid #e17f3a;
    box-shadow: inset 0 0 20px #e1803abc, 0 0 20px #e1803a5f;
    outline-color: #e17f3a;
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #e17f3a;
}

button p {
    margin: 0px;
    text-transform: uppercase;
}

.btn_grey {
    width: 220px;
    height: 45px;
    border: 0 solid #464646;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: #464646;
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    background: #464646;
    color: white;
    font-weight: lighter;
    font-size: medium;
    text-align: center;
}

.btn_grey:hover {
    border: 1px solid #464646;
    box-shadow: inset 0 0 20px #4646469d, 0 0 20px #46464650;
    outline-color: #464646;
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #464646;
}

.page2 {
    display: flex;
    position: relative;
    padding: 100px 0px 0px 0px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.image_left {
    position: absolute;
    overflow: hidden;
    left: -352px;
    top: 50px;
    z-index: -1;
}

.image_left img {
    width: 100%;
    transform: rotate(29deg);
}

.page2 p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}



.page3 {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text_content {
    margin: 20px;
}

.text_content p {
    width: 300px;
}

.img_content {
    background: rgb(246, 185, 79);
    background: linear-gradient(0deg, rgba(246, 185, 79, 1) 0%, rgba(251, 215, 152, 1) 40%, rgba(249, 204, 126, 1) 100%);

    border-radius: 100%;
    padding: 20px;
    width: 200px;
}

.content_bulki {
    display: flex;
    flex-direction: row;
    width: 500px;
    align-items: center;
    margin-left: 250px;
}

.content_bred {
    display: flex;
    flex-direction: row-reverse;
    width: 500px;
    align-items: center;
    text-align: end;
}

.content_baton {
    display: flex;
    width: 500px;
    align-items: center;
}

.content_down {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.page4 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.page4_img {
    position: absolute;
    right: -150px;
    top: 300px;
}

.page4_img img {
    width: 100%;
}


.up_section {
    text-align: center;
    margin-bottom: 50px;
}

.down_section {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.down_section_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content_aside {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.aside_img {
    width: 150px;
}

.aside_img img {
    width: 100%;
}


.page5 {
    margin-top: 100px;
}

#cook_star {
    top: -350px;
    position: relative;
    left: 250px;
    width: 20%;
}

.content_cook {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cook_text {
    width: 800px;
    text-align: center;
}

.cook_img {
    width: 350px;
    height: 350px;
}

.cook_img img {
    width: 300px;
}

/* block feedback */
.feedback {
    margin-top: 100px;
}

.slick-initialized .slick-slide {
    margin: 0px 20px;
}

.block_feedback {
    margin-top: 50px;
}

.feedback_content {
    width: 300px;
    background: white;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.user_img {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* block contact */

.contact {
    margin: 100px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img_bacground_6 {
    width: 50%;
}

.img_bacground_6 img {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    margin-top: 50px;
    width: 100%;
}

input {
    margin-bottom: 10px;
    height: 50px;
    background: #ffffffa6;
    border: 1px solid #ffffff;
}

#messeng {
    height: 80px;
}

/* block footer */
.footer {
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 50px;
}

.footer_left .logo img {
    width: 150px;
}

.footer_left p {
    line-height: 20px;
}

.footer_up {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.footer_right {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.footer .down {
    display: flex;
    justify-content: center;
}

.footer_menu {
    display: flex;
    flex-direction: column;
}


.footer_menu a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    color: #c6c6c6;
    margin: 5px 0px;
}

.footer_menu a:hover {
    background-size: 100% 2px;
    color: #ffffff;
}

.social img {
    margin: 0px 5px;
}

/* block MEDIA */
@media (max-width: 1300px) {
    .header {
        margin: 0px 10px;
    }

    .content {
        margin: 0px 10px;
    }

    .footer {
        margin: 0px 10px;
    }

    .text1 {
        position: relative;
        top: 0px;
        text-align: center;
        margin-bottom: 50px;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .text1 p {
        font-size: 20px;
        margin: 0px;
    }

    .text1 div {
        margin: -8px;
    }

    .img1 {
        padding: 0px;
        margin-top: 100px;
    }

}

@media (max-width: 1200px) {
    .content_down {
        flex-direction: column;
    }

    .content_bulki {
        margin-left: 0px;
    }

}

@media (max-width: 1000px) {
    .footer_up {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .footer_right {
        justify-content: space-around;
        width: 100%;
        margin-bottom: 50px;
    }
}

@media (max-width: 800px) {
    .contact {
        position: relative;
        justify-content: center;
    }

    .img_bacground_6 {
        position: absolute;
        right: 0px;
        z-index: -1;
        top: 180px;
    }

    .form {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 800px) {
    .content_cook {
        flex-direction: column;
    }

    .cook_text {
        width: 100%;
    }

    .page5 .content_cook:nth-child(2) {
        flex-direction: column-reverse;
        margin-top: 100px;
    }

}

@media (max-width: 650px) {
    .text1 p {
        font-size: 16px;
    }

    .img_content {
        padding: 0px;
    }

    .img1 {
        width: 100%;
        height: 100%;
    }

    .nav_header {
        position: absolute;
        top: 0px;
        right: -500px;
        background-color: #ffffff5c;
        padding: 75px 0px 20px 20px;
        /* width: 100%;
        height: 1000px; */
        justify-content: end;
        display: flex;
        transition: transform .5s;

    }

    .header__burger-btn {
        display: block;
    }

    .nav_header li {
        display: block;

    }

    .menu a {
        display: block;
        font-size: 20px;
        padding: 10px 0px;
    }

    .header.open .nav_header {
        transform: translateX(-100%);
    }

}

@media (max-width: 550px) {
    .content_baton {
        flex-direction: column;
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .content_bulki {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 50px;
        width: 100%;
    }

    .content_bred {
        flex-direction: column;
        width: 100%;
        align-items: center;
        text-align: center;
        margin-bottom: 50px;
    }

    .text_content {
        margin: 20px 0px 0px 0px;
    }

    .text_content p {
        width: 100%;
    }

    .down_section_content {
        flex-direction: column;
    }

    .content_aside {
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .footer_right {
        flex-wrap: wrap;
    }

    .footer_menu {
        width: 50%;
    }

    .text1 p:nth-child(n) {
        white-space: normal;
        animation: none;
        width: 100%;
    }

}

@media (max-width: 550px) {
    .feedback_content p {
        font-size: 14px;
    }

    .cook_img img {
        width: 100%;
    }

    .cook_img {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: end;
    }

    #cook_star {
        width: 50px;
        left: 0px;
        top: 0px;
    }
}

@media (max-width: 350px) {
    .footer_menu {
        width: 100%;
    }


}